@keyframes anim {
  0%, 100% {
    border-radius: 30% 70% 70% 30%/30% 52% 48% 70%;
    box-shadow: 0 -2vmin 4vmin rgb(255, 182, 193) inset, 0 -4vmin 4vmin rgb(147, 112, 216) inset, 0 -2vmin 7vmin rgb(128, 0, 128) inset;
  }

  10% {
    border-radius: 50% 50% 20% 80%/25% 80% 20% 75%;
  }

  20% {
    border-radius: 67% 33% 47% 53%/37% 20% 80% 63%;
  }

  30% {
    border-radius: 39% 61% 47% 53%/37% 40% 60% 63%;
    box-shadow: 0 -4vmin 8vmin rgb(255, 105, 180) inset, -1vmin -2vmin 6vmin rgb(255, 182, 193) inset, -1vmin -2vmin 4vmin rgb(147, 112, 216) inset, 1vmin 4vmin 8vmin rgb(128, 0, 128) inset;
  }

  40% {
    border-radius: 39% 61% 82% 18%/74% 40% 60% 26%;
  }

  50% {
    border-radius: 100%;
    box-shadow: 0 4vmin 16vmin rgb(255, 105, 180) inset, 0 2vmin 5vmin rgb(255, 182, 193) inset, 0 4vmin 4vmin rgb(147, 112, 216) inset, 0 6vmin 8vmin rgb(128, 0, 128) inset;
  }

  60% {
    border-radius: 50% 50% 53% 47%/72% 69% 31% 28%;
  }

  70% {
    border-radius: 50% 50% 53% 47%/26% 22% 78% 74%;
    box-shadow: 1vmin 1vmin 8vmin rgb(255, 182, 193) inset, 2vmin -1vmin 4vmin rgb(147, 112, 216) inset, -1vmin -1vmin 16vmin rgb(128, 0, 128) inset;
  }

  80% {
    border-radius: 50% 50% 53% 47%/26% 69% 31% 74%;
  }

  90% {
    border-radius: 20% 80% 20% 80%/20% 80% 20% 80%;
  }
}

@keyframes slideOutUp {
  100% {
    opacity: 0;
    transform: translateY(20%) rotateX(45deg) scale(0.7);
  }
}

@keyframes slideOutDown {
  100% {
    opacity: 0;
    transform: translateY(-20%) rotateX(45deg) scale(0.7);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(20%) rotateX(45deg) scale(0.7);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotateX(0deg) scale(1);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-20%) rotateX(45deg) scale(0.7);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotateX(0deg) scale(1);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at -16% -16%, rgb(255, 105, 180), rgb(106, 90, 205));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 4vmin;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: "Chakra Petch", sans-serif;
  color: #FFFFFF;
  cursor: pointer;
}

input,
textarea,
button {
  appearance: none;
  border-radius: 0;
  border: none;
  font-family: "Chakra Petch", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

button {
  background-color: transparent;
  line-height: 125%;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}

textarea {
  resize: none;
}

.slideOutUpAnimation {
  animation: slideOutUp 1s;
}

.slideOutDownAnimation {
  animation: slideOutDown 1s;
}

.slideInUpAnimation {
  animation: slideInUp 1s;
}

.slideInDownAnimation {
  animation: slideInDown 1s;
}

.widgets-nav-button {
  position: absolute;
  width: 100%;
  height: 8vmin;
  z-index: 1;
  transition: background-image 0.3s ease-in-out;
}

.widgets-nav-button::after {
  content: "";
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  opacity: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: 8vmin;
  position: absolute;
  left: 0;
  top: 0;
}

.widgets-nav-button:hover::after {
  opacity: 1;
}

.widgets-nav-button:hover .widgets-nav-button__svg g path {
  fill: rgb(255, 105, 180);
}

.widgets-nav-button .widgets-nav-button__svg {
  width: 6vmin;
  height: 6vmin;
}

.widgets-nav-button .widgets-nav-button__svg g path {
  transition: fill 0.3s;
  fill: rgba(255, 255, 255, 0.5);
}

.widgets-nav-button--prev {
  top: 0;
}

.widgets-nav-button--next {
  bottom: 0;
}

.widgets-nav-button--next::after {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), transparent);
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.bubble {
  position: relative;
  animation: anim 30s infinite;
  background: radial-gradient(circle at 0% 0%, rgb(255, 105, 180), rgb(106, 90, 205));
  border-radius: 30% 70% 53% 47%/26% 46% 54% 74%;
  box-shadow: 0 -2vmin 4vmin rgb(255, 182, 193) inset, 0 1vmin 4vmin rgb(147, 112, 216) inset, 0 -2vmin 7vmin rgb(128, 0, 128) inset;
  filter: drop-shadow(0 0 3vmin rgb(216, 191, 216)) drop-shadow(0 5vmin 4vmin rgb(218, 112, 214)) drop-shadow(2vmin -2vmin 15vmin rgb(123, 104, 238)) drop-shadow(0 0 7vmin rgb(185, 85, 211));
  height: 75vmin;
  width: 75vmin;
  will-change: border-radius box-shadow;
}

.bubble__inner {
  width: 100%;
  height: 100%;
}

.widget-container {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.widget-container.active {
  display: block;
}

.widget-container:not(active) {
  display: none;
}

.select-currency__text {
  font-size: 5.5vmin;
}

.select-currency__check-button {
  font-size: 4vmin;
  transition: all 0.3s;
}

.select-currency__check-button:hover {
  color: rgb(255, 105, 180);
  transform: scale(1.05);
}

.rates {
  display: none;
}

.rates__rate {
  font-size: 4vmin;
}

.rates__reset-btn {
  transition: all 0.3s;
}

.rates__reset-btn:hover {
  color: rgb(255, 105, 180);
  transform: scale(1.05);
}

.rates__reset-btn svg {
  width: 7vmin;
  height: 7vmin;
}

.rates__reset-btn svg g g g path {
  transition: fill 0.3s;
}

.rates__reset-btn:hover svg g g g path {
  fill: rgb(255, 105, 180);
}

.currency-slider {
  overflow: hidden;
  width: 70%;
}

.currency-slider__slide {
  text-align: center;
}

.swiper-wrapper.currency-slider__wrapper {
  width: 100%;
}

.swiper-slide.swiper-slide-active {
  color: rgb(255, 182, 193);
  transition: transform 0.3s;
}

.weather__title {
  font-size: 6vmin;
  font-weight: 400;
  text-align: center;
  line-height: 1;
}

.weather__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  gap: 4%;
}

.weather__main {
  display: flex;
  justify-content: center;
  font-size: 5vmin;
  gap: 4%;
}

.weather__temp {
  display: flex;
}

.weather__text {
  text-align: center;
  font-size: 3.5vmin;
}

.weather__text--feels-like {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .bubble {
    animation: none;
  }
}