@import "variables";
@import "keyframes";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at -16% -16%, $hotpink, $slateblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: $white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 4vmin;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    color: $white;
    cursor: pointer;
}

input,
textarea,
button {
    appearance: none;
    border-radius: 0;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
}

button {
    background-color: transparent;
    line-height: 125%;
    font-size: 18px;
    font-weight: 400;
    color: $white;
    cursor: pointer;
}

textarea {
    resize: none;
}

.slideOutUpAnimation {
    animation: slideOutUp 1s;
}

.slideOutDownAnimation {
    animation: slideOutDown 1s;
}

.slideInUpAnimation {
    animation: slideInUp 1s;
}

.slideInDownAnimation {
    animation: slideInDown 1s;
}

.widgets-nav-button {
    position: absolute;
    width: 100%;
    height: 8vmin;
    z-index: 1;
    transition: background-image 0.3s ease-in-out;

    &::after {
        content: "";
        background-image: linear-gradient(to bottom, rgba($color: $white, $alpha: 0.2), transparent);
        opacity: 0;
        transition: opacity 0.3s;
        width: 100%;
        height: 8vmin;
        position: absolute;
        left: 0;
        top: 0;
    }

    &:hover {
        &::after {
            opacity: 1;
        }

        .widgets-nav-button__svg g path {
            fill: $hotpink;
        }
    }

    .widgets-nav-button__svg {
        width: 6vmin;
        height: 6vmin;

        g path {
            transition: fill 0.3s;
            fill: rgba($color: $white, $alpha: 0.5);
        }
    }

    &--prev {
        top: 0;
    }

    &--next {
        bottom: 0;

        &::after {
            background-image: linear-gradient(to top, rgba($color: $white, $alpha: 0.2), transparent);
        }
    }
}


.show {
    display: flex;
}

.hide {
    display: none;
}

.bubble {
    position: relative;
    animation: anim 30s infinite;
    background: radial-gradient(circle at 0% 0%, $hotpink, $slateblue);
    border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
    box-shadow: 0 -2vmin 4vmin $lightpink inset, 0 1vmin 4vmin $mediumpurple inset, 0 -2vmin 7vmin $purple inset;
    filter: drop-shadow(0 0 3vmin $thistle) drop-shadow(0 5vmin 4vmin $orchid) drop-shadow(2vmin -2vmin 15vmin $mediumslateblue) drop-shadow(0 0 7vmin $mediumorchid);
    height: 75vmin;
    width: 75vmin;
    will-change: border-radius, box-shadow;

    &__inner {
        width: 100%;
        height: 100%;
    }
}

.widget-container {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.widget-container.active {
    display: block;
}

.widget-container:not(active) {
    display: none;
}

.select-currency {
    &__text {
        font-size: 5.5vmin;
    }

    &__check-button {
        font-size: 4vmin;
        transition: all 0.3s;

        @include hoverScaleHotPink;
    }
}

.rates {
    display: none;

    &__rate {
        font-size: 4vmin;
    }

    &__reset-btn {
        transition: all 0.3s;

        @include hoverScaleHotPink;

        svg {
            width: 7vmin;
            height: 7vmin;

            g g g path {
                transition: fill 0.3s;
            }
        }

        &:hover {
            svg g g g path {
                fill: $hotpink;
            }
        }
    }
}

.currency-slider {
    overflow: hidden;
    width: 70%;

    &__slide {
        text-align: center;
    }
}

.swiper-wrapper.currency-slider__wrapper {
    width: 100%;
}

.swiper-slide.swiper-slide-active {
    color: $lightpink;
    transition: transform 0.3s;
}

.weather {
    &__title {
        font-size: 6vmin;
        font-weight: 400;
        text-align: center;
        line-height: 1;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;
        gap: 4%;
    }

    &__main {
        display: flex;
        justify-content: center;
        font-size: 5vmin;
        gap: 4%;
    }

    &__temp {
        display: flex;
    }

    &__text {
        text-align: center;
        font-size: 3.5vmin;

        &--feels-like {
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 500px) {
    .bubble {
        animation: none;
    }
}