$hotpink: rgb(255, 105, 180);
$slateblue: rgb(106, 90, 205);
$lightpink: rgb(255, 182, 193);
$purple: rgb(128, 0, 128);
$thistle: rgb(216, 191, 216);
$mediumslateblue: rgb(123, 104, 238);
$mediumorchid: rgb(185, 85, 211);
$mediumpurple: rgb(147, 112, 216);
$orchid: rgb(218, 112, 214);
$white: #FFFFFF;
$black: #000000;